body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
*[text-l] {
  text-align: left;
}
*[text-c] {
  text-align: center;
}
*[text-r] {
  text-align: right;
}
.container > .row > .col-s-1 {
  float: left;
  width: 5%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 5%;
}
.container > .row > .col-s-right-1 {
  position: relative;
  left: 5%;
}
.container > .row > .col-s-left-1 {
  position: relative;
  left: -5%;
}
.container-fluid > .row > .col-s-right-1 {
  position: relative;
  left: 5%;
}
.container-fluid > .row > .col-s-left-1 {
  position: relative;
  left: -5%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 10%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 10%;
}
.container > .row > .col-s-right-2 {
  position: relative;
  left: 10%;
}
.container > .row > .col-s-left-2 {
  position: relative;
  left: -10%;
}
.container-fluid > .row > .col-s-right-2 {
  position: relative;
  left: 10%;
}
.container-fluid > .row > .col-s-left-2 {
  position: relative;
  left: -10%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 15%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 15%;
}
.container > .row > .col-s-right-3 {
  position: relative;
  left: 15%;
}
.container > .row > .col-s-left-3 {
  position: relative;
  left: -15%;
}
.container-fluid > .row > .col-s-right-3 {
  position: relative;
  left: 15%;
}
.container-fluid > .row > .col-s-left-3 {
  position: relative;
  left: -15%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 20%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 20%;
}
.container > .row > .col-s-right-4 {
  position: relative;
  left: 20%;
}
.container > .row > .col-s-left-4 {
  position: relative;
  left: -20%;
}
.container-fluid > .row > .col-s-right-4 {
  position: relative;
  left: 20%;
}
.container-fluid > .row > .col-s-left-4 {
  position: relative;
  left: -20%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 25%;
}
.container > .row > .col-s-right-5 {
  position: relative;
  left: 25%;
}
.container > .row > .col-s-left-5 {
  position: relative;
  left: -25%;
}
.container-fluid > .row > .col-s-right-5 {
  position: relative;
  left: 25%;
}
.container-fluid > .row > .col-s-left-5 {
  position: relative;
  left: -25%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 30%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 30%;
}
.container > .row > .col-s-right-6 {
  position: relative;
  left: 30%;
}
.container > .row > .col-s-left-6 {
  position: relative;
  left: -30%;
}
.container-fluid > .row > .col-s-right-6 {
  position: relative;
  left: 30%;
}
.container-fluid > .row > .col-s-left-6 {
  position: relative;
  left: -30%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 35%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 35%;
}
.container > .row > .col-s-right-7 {
  position: relative;
  left: 35%;
}
.container > .row > .col-s-left-7 {
  position: relative;
  left: -35%;
}
.container-fluid > .row > .col-s-right-7 {
  position: relative;
  left: 35%;
}
.container-fluid > .row > .col-s-left-7 {
  position: relative;
  left: -35%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 40%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 40%;
}
.container > .row > .col-s-right-8 {
  position: relative;
  left: 40%;
}
.container > .row > .col-s-left-8 {
  position: relative;
  left: -40%;
}
.container-fluid > .row > .col-s-right-8 {
  position: relative;
  left: 40%;
}
.container-fluid > .row > .col-s-left-8 {
  position: relative;
  left: -40%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 45%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 45%;
}
.container > .row > .col-s-right-9 {
  position: relative;
  left: 45%;
}
.container > .row > .col-s-left-9 {
  position: relative;
  left: -45%;
}
.container-fluid > .row > .col-s-right-9 {
  position: relative;
  left: 45%;
}
.container-fluid > .row > .col-s-left-9 {
  position: relative;
  left: -45%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 50%;
}
.container > .row > .col-s-right-10 {
  position: relative;
  left: 50%;
}
.container > .row > .col-s-left-10 {
  position: relative;
  left: -50%;
}
.container-fluid > .row > .col-s-right-10 {
  position: relative;
  left: 50%;
}
.container-fluid > .row > .col-s-left-10 {
  position: relative;
  left: -50%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 55%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 55%;
}
.container > .row > .col-s-right-11 {
  position: relative;
  left: 55%;
}
.container > .row > .col-s-left-11 {
  position: relative;
  left: -55%;
}
.container-fluid > .row > .col-s-right-11 {
  position: relative;
  left: 55%;
}
.container-fluid > .row > .col-s-left-11 {
  position: relative;
  left: -55%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 60%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 60%;
}
.container > .row > .col-s-right-12 {
  position: relative;
  left: 60%;
}
.container > .row > .col-s-left-12 {
  position: relative;
  left: -60%;
}
.container-fluid > .row > .col-s-right-12 {
  position: relative;
  left: 60%;
}
.container-fluid > .row > .col-s-left-12 {
  position: relative;
  left: -60%;
}
.container > .row > .col-s-13 {
  float: left;
  width: 65%;
}
.container-fluid > .row > .col-s-13 {
  float: left;
  width: 65%;
}
.container > .row > .col-s-right-13 {
  position: relative;
  left: 65%;
}
.container > .row > .col-s-left-13 {
  position: relative;
  left: -65%;
}
.container-fluid > .row > .col-s-right-13 {
  position: relative;
  left: 65%;
}
.container-fluid > .row > .col-s-left-13 {
  position: relative;
  left: -65%;
}
.container > .row > .col-s-14 {
  float: left;
  width: 70%;
}
.container-fluid > .row > .col-s-14 {
  float: left;
  width: 70%;
}
.container > .row > .col-s-right-14 {
  position: relative;
  left: 70%;
}
.container > .row > .col-s-left-14 {
  position: relative;
  left: -70%;
}
.container-fluid > .row > .col-s-right-14 {
  position: relative;
  left: 70%;
}
.container-fluid > .row > .col-s-left-14 {
  position: relative;
  left: -70%;
}
.container > .row > .col-s-15 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-15 {
  float: left;
  width: 75%;
}
.container > .row > .col-s-right-15 {
  position: relative;
  left: 75%;
}
.container > .row > .col-s-left-15 {
  position: relative;
  left: -75%;
}
.container-fluid > .row > .col-s-right-15 {
  position: relative;
  left: 75%;
}
.container-fluid > .row > .col-s-left-15 {
  position: relative;
  left: -75%;
}
.container > .row > .col-s-16 {
  float: left;
  width: 80%;
}
.container-fluid > .row > .col-s-16 {
  float: left;
  width: 80%;
}
.container > .row > .col-s-right-16 {
  position: relative;
  left: 80%;
}
.container > .row > .col-s-left-16 {
  position: relative;
  left: -80%;
}
.container-fluid > .row > .col-s-right-16 {
  position: relative;
  left: 80%;
}
.container-fluid > .row > .col-s-left-16 {
  position: relative;
  left: -80%;
}
.container > .row > .col-s-17 {
  float: left;
  width: 85%;
}
.container-fluid > .row > .col-s-17 {
  float: left;
  width: 85%;
}
.container > .row > .col-s-right-17 {
  position: relative;
  left: 85%;
}
.container > .row > .col-s-left-17 {
  position: relative;
  left: -85%;
}
.container-fluid > .row > .col-s-right-17 {
  position: relative;
  left: 85%;
}
.container-fluid > .row > .col-s-left-17 {
  position: relative;
  left: -85%;
}
.container > .row > .col-s-18 {
  float: left;
  width: 90%;
}
.container-fluid > .row > .col-s-18 {
  float: left;
  width: 90%;
}
.container > .row > .col-s-right-18 {
  position: relative;
  left: 90%;
}
.container > .row > .col-s-left-18 {
  position: relative;
  left: -90%;
}
.container-fluid > .row > .col-s-right-18 {
  position: relative;
  left: 90%;
}
.container-fluid > .row > .col-s-left-18 {
  position: relative;
  left: -90%;
}
.container > .row > .col-s-19 {
  float: left;
  width: 95%;
}
.container-fluid > .row > .col-s-19 {
  float: left;
  width: 95%;
}
.container > .row > .col-s-right-19 {
  position: relative;
  left: 95%;
}
.container > .row > .col-s-left-19 {
  position: relative;
  left: -95%;
}
.container-fluid > .row > .col-s-right-19 {
  position: relative;
  left: 95%;
}
.container-fluid > .row > .col-s-left-19 {
  position: relative;
  left: -95%;
}
.container > .row > .col-s-20 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-20 {
  float: left;
  width: 100%;
}
.container > .row > .col-s-right-20 {
  position: relative;
  left: 100%;
}
.container > .row > .col-s-left-20 {
  position: relative;
  left: -100%;
}
.container-fluid > .row > .col-s-right-20 {
  position: relative;
  left: 100%;
}
.container-fluid > .row > .col-s-left-20 {
  position: relative;
  left: -100%;
}
@media screen and (max-width: 730px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
  }
  .container:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-s-v {
    display: block;
  }
  .container > .row > .col-s-h {
    display: none;
  }
  .container-fluid > .row > .col-s-v {
    display: block;
  }
  .container-fluid > .row > .col-s-h {
    display: none;
  }
}
@media screen and (min-width: 730px) and (max-width: 1070px) {
  .container {
    width: 600px;
    margin: 0 auto;
    width: 700px;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 5%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 5%;
  }
  .container > .row > .col-m-right-1 {
    position: relative;
    left: 5%;
  }
  .container > .row > .col-m-left-1 {
    position: relative;
    left: -5%;
  }
  .container-fluid > .row > .col-m-right-1 {
    position: relative;
    left: 5%;
  }
  .container-fluid > .row > .col-m-left-1 {
    position: relative;
    left: -5%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 10%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 10%;
  }
  .container > .row > .col-m-right-2 {
    position: relative;
    left: 10%;
  }
  .container > .row > .col-m-left-2 {
    position: relative;
    left: -10%;
  }
  .container-fluid > .row > .col-m-right-2 {
    position: relative;
    left: 10%;
  }
  .container-fluid > .row > .col-m-left-2 {
    position: relative;
    left: -10%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 15%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 15%;
  }
  .container > .row > .col-m-right-3 {
    position: relative;
    left: 15%;
  }
  .container > .row > .col-m-left-3 {
    position: relative;
    left: -15%;
  }
  .container-fluid > .row > .col-m-right-3 {
    position: relative;
    left: 15%;
  }
  .container-fluid > .row > .col-m-left-3 {
    position: relative;
    left: -15%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 20%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 20%;
  }
  .container > .row > .col-m-right-4 {
    position: relative;
    left: 20%;
  }
  .container > .row > .col-m-left-4 {
    position: relative;
    left: -20%;
  }
  .container-fluid > .row > .col-m-right-4 {
    position: relative;
    left: 20%;
  }
  .container-fluid > .row > .col-m-left-4 {
    position: relative;
    left: -20%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-right-5 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-m-left-5 {
    position: relative;
    left: -25%;
  }
  .container-fluid > .row > .col-m-right-5 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-m-left-5 {
    position: relative;
    left: -25%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 30%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 30%;
  }
  .container > .row > .col-m-right-6 {
    position: relative;
    left: 30%;
  }
  .container > .row > .col-m-left-6 {
    position: relative;
    left: -30%;
  }
  .container-fluid > .row > .col-m-right-6 {
    position: relative;
    left: 30%;
  }
  .container-fluid > .row > .col-m-left-6 {
    position: relative;
    left: -30%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 35%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 35%;
  }
  .container > .row > .col-m-right-7 {
    position: relative;
    left: 35%;
  }
  .container > .row > .col-m-left-7 {
    position: relative;
    left: -35%;
  }
  .container-fluid > .row > .col-m-right-7 {
    position: relative;
    left: 35%;
  }
  .container-fluid > .row > .col-m-left-7 {
    position: relative;
    left: -35%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 40%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 40%;
  }
  .container > .row > .col-m-right-8 {
    position: relative;
    left: 40%;
  }
  .container > .row > .col-m-left-8 {
    position: relative;
    left: -40%;
  }
  .container-fluid > .row > .col-m-right-8 {
    position: relative;
    left: 40%;
  }
  .container-fluid > .row > .col-m-left-8 {
    position: relative;
    left: -40%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 45%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 45%;
  }
  .container > .row > .col-m-right-9 {
    position: relative;
    left: 45%;
  }
  .container > .row > .col-m-left-9 {
    position: relative;
    left: -45%;
  }
  .container-fluid > .row > .col-m-right-9 {
    position: relative;
    left: 45%;
  }
  .container-fluid > .row > .col-m-left-9 {
    position: relative;
    left: -45%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-right-10 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-m-left-10 {
    position: relative;
    left: -50%;
  }
  .container-fluid > .row > .col-m-right-10 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-m-left-10 {
    position: relative;
    left: -50%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 55%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 55%;
  }
  .container > .row > .col-m-right-11 {
    position: relative;
    left: 55%;
  }
  .container > .row > .col-m-left-11 {
    position: relative;
    left: -55%;
  }
  .container-fluid > .row > .col-m-right-11 {
    position: relative;
    left: 55%;
  }
  .container-fluid > .row > .col-m-left-11 {
    position: relative;
    left: -55%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 60%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 60%;
  }
  .container > .row > .col-m-right-12 {
    position: relative;
    left: 60%;
  }
  .container > .row > .col-m-left-12 {
    position: relative;
    left: -60%;
  }
  .container-fluid > .row > .col-m-right-12 {
    position: relative;
    left: 60%;
  }
  .container-fluid > .row > .col-m-left-12 {
    position: relative;
    left: -60%;
  }
  .container > .row > .col-m-13 {
    float: left;
    width: 65%;
  }
  .container-fluid > .row > .col-m-13 {
    float: left;
    width: 65%;
  }
  .container > .row > .col-m-right-13 {
    position: relative;
    left: 65%;
  }
  .container > .row > .col-m-left-13 {
    position: relative;
    left: -65%;
  }
  .container-fluid > .row > .col-m-right-13 {
    position: relative;
    left: 65%;
  }
  .container-fluid > .row > .col-m-left-13 {
    position: relative;
    left: -65%;
  }
  .container > .row > .col-m-14 {
    float: left;
    width: 70%;
  }
  .container-fluid > .row > .col-m-14 {
    float: left;
    width: 70%;
  }
  .container > .row > .col-m-right-14 {
    position: relative;
    left: 70%;
  }
  .container > .row > .col-m-left-14 {
    position: relative;
    left: -70%;
  }
  .container-fluid > .row > .col-m-right-14 {
    position: relative;
    left: 70%;
  }
  .container-fluid > .row > .col-m-left-14 {
    position: relative;
    left: -70%;
  }
  .container > .row > .col-m-15 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-15 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-right-15 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-m-left-15 {
    position: relative;
    left: -75%;
  }
  .container-fluid > .row > .col-m-right-15 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-m-left-15 {
    position: relative;
    left: -75%;
  }
  .container > .row > .col-m-16 {
    float: left;
    width: 80%;
  }
  .container-fluid > .row > .col-m-16 {
    float: left;
    width: 80%;
  }
  .container > .row > .col-m-right-16 {
    position: relative;
    left: 80%;
  }
  .container > .row > .col-m-left-16 {
    position: relative;
    left: -80%;
  }
  .container-fluid > .row > .col-m-right-16 {
    position: relative;
    left: 80%;
  }
  .container-fluid > .row > .col-m-left-16 {
    position: relative;
    left: -80%;
  }
  .container > .row > .col-m-17 {
    float: left;
    width: 85%;
  }
  .container-fluid > .row > .col-m-17 {
    float: left;
    width: 85%;
  }
  .container > .row > .col-m-right-17 {
    position: relative;
    left: 85%;
  }
  .container > .row > .col-m-left-17 {
    position: relative;
    left: -85%;
  }
  .container-fluid > .row > .col-m-right-17 {
    position: relative;
    left: 85%;
  }
  .container-fluid > .row > .col-m-left-17 {
    position: relative;
    left: -85%;
  }
  .container > .row > .col-m-18 {
    float: left;
    width: 90%;
  }
  .container-fluid > .row > .col-m-18 {
    float: left;
    width: 90%;
  }
  .container > .row > .col-m-right-18 {
    position: relative;
    left: 90%;
  }
  .container > .row > .col-m-left-18 {
    position: relative;
    left: -90%;
  }
  .container-fluid > .row > .col-m-right-18 {
    position: relative;
    left: 90%;
  }
  .container-fluid > .row > .col-m-left-18 {
    position: relative;
    left: -90%;
  }
  .container > .row > .col-m-19 {
    float: left;
    width: 95%;
  }
  .container-fluid > .row > .col-m-19 {
    float: left;
    width: 95%;
  }
  .container > .row > .col-m-right-19 {
    position: relative;
    left: 95%;
  }
  .container > .row > .col-m-left-19 {
    position: relative;
    left: -95%;
  }
  .container-fluid > .row > .col-m-right-19 {
    position: relative;
    left: 95%;
  }
  .container-fluid > .row > .col-m-left-19 {
    position: relative;
    left: -95%;
  }
  .container > .row > .col-m-20 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-20 {
    float: left;
    width: 100%;
  }
  .container > .row > .col-m-right-20 {
    position: relative;
    left: 100%;
  }
  .container > .row > .col-m-left-20 {
    position: relative;
    left: -100%;
  }
  .container-fluid > .row > .col-m-right-20 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-m-left-20 {
    position: relative;
    left: -100%;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
  }
  .container:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 600px;
    margin: 0 auto;
    width: 1000px;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 5%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 5%;
  }
  .container > .row > .col-l-right-1 {
    position: relative;
    left: 5%;
  }
  .container > .row > .col-l-left-1 {
    position: relative;
    left: -5%;
  }
  .container-fluid > .row > .col-l-right-1 {
    position: relative;
    left: 5%;
  }
  .container-fluid > .row > .col-l-left-1 {
    position: relative;
    left: -5%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 10%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 10%;
  }
  .container > .row > .col-l-right-2 {
    position: relative;
    left: 10%;
  }
  .container > .row > .col-l-left-2 {
    position: relative;
    left: -10%;
  }
  .container-fluid > .row > .col-l-right-2 {
    position: relative;
    left: 10%;
  }
  .container-fluid > .row > .col-l-left-2 {
    position: relative;
    left: -10%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 15%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 15%;
  }
  .container > .row > .col-l-right-3 {
    position: relative;
    left: 15%;
  }
  .container > .row > .col-l-left-3 {
    position: relative;
    left: -15%;
  }
  .container-fluid > .row > .col-l-right-3 {
    position: relative;
    left: 15%;
  }
  .container-fluid > .row > .col-l-left-3 {
    position: relative;
    left: -15%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 20%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 20%;
  }
  .container > .row > .col-l-right-4 {
    position: relative;
    left: 20%;
  }
  .container > .row > .col-l-left-4 {
    position: relative;
    left: -20%;
  }
  .container-fluid > .row > .col-l-right-4 {
    position: relative;
    left: 20%;
  }
  .container-fluid > .row > .col-l-left-4 {
    position: relative;
    left: -20%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-right-5 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-l-left-5 {
    position: relative;
    left: -25%;
  }
  .container-fluid > .row > .col-l-right-5 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-l-left-5 {
    position: relative;
    left: -25%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 30%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 30%;
  }
  .container > .row > .col-l-right-6 {
    position: relative;
    left: 30%;
  }
  .container > .row > .col-l-left-6 {
    position: relative;
    left: -30%;
  }
  .container-fluid > .row > .col-l-right-6 {
    position: relative;
    left: 30%;
  }
  .container-fluid > .row > .col-l-left-6 {
    position: relative;
    left: -30%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 35%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 35%;
  }
  .container > .row > .col-l-right-7 {
    position: relative;
    left: 35%;
  }
  .container > .row > .col-l-left-7 {
    position: relative;
    left: -35%;
  }
  .container-fluid > .row > .col-l-right-7 {
    position: relative;
    left: 35%;
  }
  .container-fluid > .row > .col-l-left-7 {
    position: relative;
    left: -35%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 40%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 40%;
  }
  .container > .row > .col-l-right-8 {
    position: relative;
    left: 40%;
  }
  .container > .row > .col-l-left-8 {
    position: relative;
    left: -40%;
  }
  .container-fluid > .row > .col-l-right-8 {
    position: relative;
    left: 40%;
  }
  .container-fluid > .row > .col-l-left-8 {
    position: relative;
    left: -40%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 45%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 45%;
  }
  .container > .row > .col-l-right-9 {
    position: relative;
    left: 45%;
  }
  .container > .row > .col-l-left-9 {
    position: relative;
    left: -45%;
  }
  .container-fluid > .row > .col-l-right-9 {
    position: relative;
    left: 45%;
  }
  .container-fluid > .row > .col-l-left-9 {
    position: relative;
    left: -45%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-right-10 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-l-left-10 {
    position: relative;
    left: -50%;
  }
  .container-fluid > .row > .col-l-right-10 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-l-left-10 {
    position: relative;
    left: -50%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 55%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 55%;
  }
  .container > .row > .col-l-right-11 {
    position: relative;
    left: 55%;
  }
  .container > .row > .col-l-left-11 {
    position: relative;
    left: -55%;
  }
  .container-fluid > .row > .col-l-right-11 {
    position: relative;
    left: 55%;
  }
  .container-fluid > .row > .col-l-left-11 {
    position: relative;
    left: -55%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 60%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 60%;
  }
  .container > .row > .col-l-right-12 {
    position: relative;
    left: 60%;
  }
  .container > .row > .col-l-left-12 {
    position: relative;
    left: -60%;
  }
  .container-fluid > .row > .col-l-right-12 {
    position: relative;
    left: 60%;
  }
  .container-fluid > .row > .col-l-left-12 {
    position: relative;
    left: -60%;
  }
  .container > .row > .col-l-13 {
    float: left;
    width: 65%;
  }
  .container-fluid > .row > .col-l-13 {
    float: left;
    width: 65%;
  }
  .container > .row > .col-l-right-13 {
    position: relative;
    left: 65%;
  }
  .container > .row > .col-l-left-13 {
    position: relative;
    left: -65%;
  }
  .container-fluid > .row > .col-l-right-13 {
    position: relative;
    left: 65%;
  }
  .container-fluid > .row > .col-l-left-13 {
    position: relative;
    left: -65%;
  }
  .container > .row > .col-l-14 {
    float: left;
    width: 70%;
  }
  .container-fluid > .row > .col-l-14 {
    float: left;
    width: 70%;
  }
  .container > .row > .col-l-right-14 {
    position: relative;
    left: 70%;
  }
  .container > .row > .col-l-left-14 {
    position: relative;
    left: -70%;
  }
  .container-fluid > .row > .col-l-right-14 {
    position: relative;
    left: 70%;
  }
  .container-fluid > .row > .col-l-left-14 {
    position: relative;
    left: -70%;
  }
  .container > .row > .col-l-15 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-15 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-right-15 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-l-left-15 {
    position: relative;
    left: -75%;
  }
  .container-fluid > .row > .col-l-right-15 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-l-left-15 {
    position: relative;
    left: -75%;
  }
  .container > .row > .col-l-16 {
    float: left;
    width: 80%;
  }
  .container-fluid > .row > .col-l-16 {
    float: left;
    width: 80%;
  }
  .container > .row > .col-l-right-16 {
    position: relative;
    left: 80%;
  }
  .container > .row > .col-l-left-16 {
    position: relative;
    left: -80%;
  }
  .container-fluid > .row > .col-l-right-16 {
    position: relative;
    left: 80%;
  }
  .container-fluid > .row > .col-l-left-16 {
    position: relative;
    left: -80%;
  }
  .container > .row > .col-l-17 {
    float: left;
    width: 85%;
  }
  .container-fluid > .row > .col-l-17 {
    float: left;
    width: 85%;
  }
  .container > .row > .col-l-right-17 {
    position: relative;
    left: 85%;
  }
  .container > .row > .col-l-left-17 {
    position: relative;
    left: -85%;
  }
  .container-fluid > .row > .col-l-right-17 {
    position: relative;
    left: 85%;
  }
  .container-fluid > .row > .col-l-left-17 {
    position: relative;
    left: -85%;
  }
  .container > .row > .col-l-18 {
    float: left;
    width: 90%;
  }
  .container-fluid > .row > .col-l-18 {
    float: left;
    width: 90%;
  }
  .container > .row > .col-l-right-18 {
    position: relative;
    left: 90%;
  }
  .container > .row > .col-l-left-18 {
    position: relative;
    left: -90%;
  }
  .container-fluid > .row > .col-l-right-18 {
    position: relative;
    left: 90%;
  }
  .container-fluid > .row > .col-l-left-18 {
    position: relative;
    left: -90%;
  }
  .container > .row > .col-l-19 {
    float: left;
    width: 95%;
  }
  .container-fluid > .row > .col-l-19 {
    float: left;
    width: 95%;
  }
  .container > .row > .col-l-right-19 {
    position: relative;
    left: 95%;
  }
  .container > .row > .col-l-left-19 {
    position: relative;
    left: -95%;
  }
  .container-fluid > .row > .col-l-right-19 {
    position: relative;
    left: 95%;
  }
  .container-fluid > .row > .col-l-left-19 {
    position: relative;
    left: -95%;
  }
  .container > .row > .col-l-20 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-20 {
    float: left;
    width: 100%;
  }
  .container > .row > .col-l-right-20 {
    position: relative;
    left: 100%;
  }
  .container > .row > .col-l-left-20 {
    position: relative;
    left: -100%;
  }
  .container-fluid > .row > .col-l-right-20 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-l-left-20 {
    position: relative;
    left: -100%;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
  }
  .container:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
}
